<mat-card class="card" (mouseenter)="showActions = true" (mouseleave)="showActions = false">
  <mat-card-content class="content">
    <div *ngIf="showActions" class="actions">
      <button mat-mini-fab (click)="editService.currentNoteObj.next(noteObj)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab (click)="dbService.deleteNote(noteObj?.key ?? '')">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>{{ noteObj?.value.note }}</div>
  </mat-card-content>
  <mat-card-footer class="footer">
    <div>{{ noteObj?.value.createdDate }}</div>
  </mat-card-footer>
</mat-card>
